.Naruto{
    color:gray;
    font-family: courier;
    font-size: 150px;
}
.Lorem{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}
.motivacao{
    color:red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
}
