.red{
 position:absolute;
 top:100px;
 left:80px;
 width:200px;
 height:200px;
 background-color:red;
 border-radius:10px;
 box-shadow: 4px 4px 4px gray
}

.blue{
 position:absolute;
 bottom:290px;
 left:200px;
 width:200px;
 height:200px;
 background-color:rgb(13, 0, 255);
 border-radius:10px;
 box-shadow: 4px 4px 4px gray
}

.green{
 position:absolute;
 top:150px;
 left:150px;
 width:200px;
 height:200px;
 background-color:rgb(0, 255, 60);
 border-radius:10px;
 box-shadow: 4px 4px 4px gray
}