.red{
 position:absolute;
 top:80px;
 width:200px;
 height:200px;
 background-color:red;
 border-radius:10px;
 box-shadow: 4px 4px 4px gray
}

.blue{
 position:absolute;
 top:110px;
 left:40px;
 width:200px;
 height:200px;
 background-color:rgb(13, 0, 255);
 border-radius:10px;
 box-shadow: 4px 4px 4px gray
}

.green{
 position:absolute;
 width:500px;
 height:500px;
 background-color:rgb(0, 255, 60);
 border-radius:10px;
 box-shadow: 4px 4px 4px gray

}