body{
    background-color: yellow;
    margin:0px;
}

.red{
 position:absolute;
 top:100px;
 left:42px;
 width:200px;
 height:200px;
 background-color:red;
 border-radius:10px;
 box-shadow: 4px 4px 4px gray;
 z-index: 1;
}

.brown{
 position:absolute;
 left:20px;
 width:200px;
 height:200px;
 background-color:rgb(91, 24, 24);
 border-radius:10px;
 box-shadow: 4px 4px 4px gray;
}

.green{
 position:absolute;
 top:282px;
 left:20px;
 width:200px;
 height:200px;
 background-color:rgb(0, 255, 60);
 border-radius:10px;
 box-shadow: 4px 4px 4px gray;
 
}